<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}Polls{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/polls">Home</a></li>
            <li><a href="/polls/all">All</a></li>
            {% if user.is_authenticated  %}
                <li>{{ user.username }}</li>
                <li><a href="/polls/logout">Logout</a></li>
            {% else %}
                <li><a href="/polls/login">Login</a></li>
            {% endif %}
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>